.hide {
    color: lightgrey;
}

.mainDiv {
    padding-left: 200px;
    padding-right: 200px;
    background-color: lightgrey;
}

.topDiv {
    margin-top: 20px;
    background-color: indigo;
    color: white;
    padding: 40px;
}

.aboutMeDiv {
    padding: 40px;
    color: black;
}

.experienceDiv {
    padding: 40px;
    color: black;
    margin-bottom: 80px;
    height: 500px;
}

.projectsDiv {
    padding: 40px;
    color: black;
    margin-bottom: 80px;
    height: 500px;
}

.educationDiv {
    padding: 40px;
    color: black;
}

.frontHeader {
    font-size: 80px;
}

.resumeButton {
    border-radius: 12px;
    font-size: 20px;
    background-color: white;
    color: black;
    padding: 10px;
}